/*
h1 is title
h2 is subheading
h3
h4
h5 is problem
h6 is equation
p is regular text
*/
body {
    background-color: #EEEEEE;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 0px;
}
div.top {
    color: black;
    background-color: #EEEEEE;
    border: 6px solid black;
    border-radius: 24px;
    padding: 12px;
    text-align: center;
    margin-bottom: 12px;
    margin-left: 16.67%;
    margin-right: 16.67%;
}
button.toTop, button.goBack {
    background-color: #EEEEEE;
    position: fixed;
    text-align: center;
    text-decoration-line: none;
    border: 3px solid black;
    top: -9px;
    padding: 6px;
    border-radius: 0px 0px 12px 12px;
}
button.toTop {
    right: 24px;
}
button.goBack {
    left: 24px;
}
button.check, button.solution {
    background-color: #EEEEEE;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    padding: 6px;
    border: 1px solid;
    border-radius: 6px;
}
button:hover {
    background-color: #DDDDDD;
}
button:active {
    background-color: #DDEEEE;
}
input {
    font-size: 18px;
    padding: 6px;
    border: 1px solid;
    border-radius: 6px;
}
h2 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration-line: none;
    margin-top: 12px;
    margin-bottom: 0px;
    margin-left: 12px;
    margin-right: 12px;
}
h5 {
    color: black;
    background-color: #DDEEEE;
    font-weight: normal;
    font-size:  24px;
    border: 2px solid rgb(63,63,63);
    border-radius: 6px;
    padding: 6px;
    text-align: left;
    margin: 6px;
}
h6 {
    color: black;
    background-color: #EEDDEE;
    font-size:  24px;
    border: 2px solid rgb(63,63,63);
    border-radius: 6px;
    padding: 6px;
    text-align: center;
    margin: 6px;
    margin-left: 120px;
    margin-right: 120px;
}
p {
    color: black;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 12px;
    margin-right: 12px;
}

a.head:link, a.head:visited {
    color:black;
    background-color: transparent;
    text-decoration: none;
}
a.head:hover {
    color:#888888;
    background-color: transparent;
    text-decoration: underline #888888;
}

@media only screen and (max-width: 600px) {
    h1.title {
        font-size: 8vw;
    }
    p.title {
        font-size: 3vw;
    }
    h6 {
        margin-left: 6px;
        margin-right: 6px;
    }
}